app.camera.angle=90
app.camera.far.clip=5000
app.camera.offset=20
app.point.color=ff6666
app.point.scale.coeff=5.0
app.point.size=5.0
app.points.max.number=1000
app.title=VDPF [Visualization of the Dynamics of Parametrically given Functions]
app.version=0.1
app.window.height=640
app.window.width=1024
